<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.edward.graduationdesign.dao.JobMapper">
  <resultMap id="BaseResultMap" type="priv.edward.graduationdesign.model.Job">
    <constructor>
      <idArg column="jobId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="jobName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="specificity" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    jobId, jobName, specificity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job
    where jobId = #{jobid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from job
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job
    where jobId = #{jobid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="priv.edward.graduationdesign.model.Job">
    insert into job (jobId, jobName, specificity
      )
    values (#{jobid,jdbcType=INTEGER}, #{jobname,jdbcType=VARCHAR}, #{specificity,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="priv.edward.graduationdesign.model.Job">
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobid != null">
        jobId,
      </if>
      <if test="jobname != null">
        jobName,
      </if>
      <if test="specificity != null">
        specificity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobid != null">
        #{jobid,jdbcType=INTEGER},
      </if>
      <if test="jobname != null">
        #{jobname,jdbcType=VARCHAR},
      </if>
      <if test="specificity != null">
        #{specificity,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="priv.edward.graduationdesign.model.Job">
    update job
    <set>
      <if test="jobname != null">
        jobName = #{jobname,jdbcType=VARCHAR},
      </if>
      <if test="specificity != null">
        specificity = #{specificity,jdbcType=CHAR},
      </if>
    </set>
    where jobId = #{jobid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="priv.edward.graduationdesign.model.Job">
    update job
    set jobName = #{jobname,jdbcType=VARCHAR},
      specificity = #{specificity,jdbcType=CHAR}
    where jobId = #{jobid,jdbcType=INTEGER}
  </update>
</mapper>