<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.edward.graduationdesign.dao.StaffStateMapper">
  <resultMap id="BaseResultMap" type="priv.edward.graduationdesign.model.StaffState">
    <constructor>
      <idArg column="ssId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ssName" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ssId, ssName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staffstate
    where ssId = #{ssid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from staffstate
    where ssId = #{ssid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="priv.edward.graduationdesign.model.StaffState">
    insert into staffstate (ssId, ssName)
    values (#{ssid,jdbcType=INTEGER}, #{ssname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="priv.edward.graduationdesign.model.StaffState">
    insert into staffstate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ssid != null">
        ssId,
      </if>
      <if test="ssname != null">
        ssName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ssid != null">
        #{ssid,jdbcType=INTEGER},
      </if>
      <if test="ssname != null">
        #{ssname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="priv.edward.graduationdesign.model.StaffState">
    update staffstate
    <set>
      <if test="ssname != null">
        ssName = #{ssname,jdbcType=VARCHAR},
      </if>
    </set>
    where ssId = #{ssid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="priv.edward.graduationdesign.model.StaffState">
    update staffstate
    set ssName = #{ssname,jdbcType=VARCHAR}
    where ssId = #{ssid,jdbcType=INTEGER}
  </update>
</mapper>