<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.edward.graduationdesign.dao.StaffStateMapper">
  <resultMap id="BaseResultMap" type="priv.edward.graduationdesign.model.StaffState">
    <constructor>
      <idArg column="ssId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ssName" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ssId, ssName
  </sql>
  <select id="selectByExample" parameterType="priv.edward.graduationdesign.model.StaffStateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staffstate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staffstate
    where ssId = #{ssid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from staffstate
    where ssId = #{ssid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="priv.edward.graduationdesign.model.StaffStateExample">
    delete from staffstate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="priv.edward.graduationdesign.model.StaffState">
    insert into staffstate (ssId, ssName)
    values (#{ssid,jdbcType=INTEGER}, #{ssname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="priv.edward.graduationdesign.model.StaffState">
    insert into staffstate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ssid != null">
        ssId,
      </if>
      <if test="ssname != null">
        ssName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ssid != null">
        #{ssid,jdbcType=INTEGER},
      </if>
      <if test="ssname != null">
        #{ssname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="priv.edward.graduationdesign.model.StaffStateExample" resultType="java.lang.Long">
    select count(*) from staffstate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update staffstate
    <set>
      <if test="record.ssid != null">
        ssId = #{record.ssid,jdbcType=INTEGER},
      </if>
      <if test="record.ssname != null">
        ssName = #{record.ssname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update staffstate
    set ssId = #{record.ssid,jdbcType=INTEGER},
      ssName = #{record.ssname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="priv.edward.graduationdesign.model.StaffState">
    update staffstate
    <set>
      <if test="ssname != null">
        ssName = #{ssname,jdbcType=VARCHAR},
      </if>
    </set>
    where ssId = #{ssid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="priv.edward.graduationdesign.model.StaffState">
    update staffstate
    set ssName = #{ssname,jdbcType=VARCHAR}
    where ssId = #{ssid,jdbcType=INTEGER}
  </update>
</mapper>